<!DOCTYPE html>
<html>
<head>
    <title>Employee Form</title>
</head>
<body>
    <form action="/employees/save" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="location">Location:</label><br>
        <input type="text" id="location" name="location"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
